
.icon-off:before { content: '\e800'; } /* '' */
.icon-zoom-in:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */