body {
    background-image: url("background.jpeg");
    background-repeat: repeat;
    font-family: 'Merriweather', serif;
}

#user_logo {
    border-radius: 50%;
    color: white;
    background-color: #444;
    font-size: 32px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Gugi', cursive;
    display: none;
}


#comments {
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 2px solid #e2e2e2;
}

.navbar-brand {
    font-size: 1.8em;
    letter-spacing: 1px;
    border: 2px dashed #f4b942;
    padding: 5px 10px;
    font-family: 'Gugi', cursive;
    cursor: pointer;
    transition: background-color 0.4s, border 0.6s;
    transition-timing-function: ease;
}

.navbar-brand:hover {
    background-color: #f5ca53;
    border: 2px solid #f4b942;
}

#all {
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

#login {
    margin-left: 7px;
    margin-right: 7px;
}

#accordion {
    padding: 20px;
}

.card {
    margin-top: 10px;
}

.card-link {
    color: black;
    text-decoration: none;
}

.card-link:hover {
    color: #DE5236;
}


nav {
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    border: 2px solid #e2e2e2;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-radius: 5px;
}

footer ul {
    margin-bottom: 0px;
}

footer i {
    font-size: 45px;
}

footer a {
    text-decoration: none;
    color: black;
}

.list-inline-item>a {
    transition: color 0.4s;
    transition-timing-function: ease;
}

.list-inline-item>a:hover {
    color: #f4d742;
}

::selection {
    color: white;
    background-color: #DE5236;
}
