<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Jua" rel="stylesheet">
    <!-- my CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- icons CSS -->
    <link rel="stylesheet" href="css/fontello.css">
    <title>Travel_info</title>
  <body>  
    <div class="container">
      <div class="grid">
          <div>
            <h1 class="logo">Travel_info</h1>
          </div>
          <div class="menu">
            <ul class="top-nav_menu">
              <li><a class="mail" href="#">sanya.d1997@mail.ru</a></li>
              <li><a href="#"><i class="icon-zoom-in"></i></a></li>
              <li><a href="#"><i class="icon-mail-alt"></i></a></li>
              <li><a href="#"><i class="icon-doc-inv"></i></a></li>
              <li><a href="#"><i class="icon-plus-squared"></i></a></li>
              <li><a href="#"><i class="icon-off"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="wrapper">
        <section id="blok">
          <div class="tabs">
            <div class="tab active" onclick="pokaz(1)">Tab 1</div>
            <div class="tab" onclick="pokaz(2)">Tab 2</div>
            <div class="tab" onclick="pokaz(3)">Tab 3</div>
          </div> 
          <div class="content">Content 1</div>    
        </section>
      </div>

    </div>



    <!-- Optional JavaScript -->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>