<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="info travel log in">
    <meta name="author" content="colyk">
    <title>Log in Info Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <link rel="stylesheet" href="css/fontello.css">
</head>

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <a href="index.html"><h1>info Travel</h1></a>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">You are welcome!</h4>
                            <form id="log_in">
                                <div class="form-group">
                                    <label for="nickname">Nickname</label>
                                    <input placeholder="nickname" id="nickname" type="text" class="btn-outline-warning form-control" name="nickname" value="" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password
                                        <a onclick="alert('Just try to remember! You can do it! I belive in you...');" class="text-warning float-right">
                      Forgot Password?
                    </a>
                                    </label>
                                    <div class="input-group mb-6">
                                        <input placeholder="********" id="password" type="password" class="btn-outline-warning form-control" name="password" required data-eye>
                                        <div class="input-group-append">
                                            <button id="toggle_pass" class="btn btn-outline-warning" type="button"><i id="eye-icon" class="icon-eye-off"></i></button>
                                        </div>
                                    </div>
                                        <p class="alert alert-danger" style="display:none;" id='inv_pass'>Incorrect nickname or password. Try again.</p>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-warning btn-block">
                                        Login
                                    </button>
                                </div>
                                <div class="margin-top20 text-center">
                                    Don't have an account? <a id="show_signup_form" class="text-warning">Create One</a>
                                </div>
                            </form>
                            <form id="sign_up" style="display:none;">
                                <div class="form-group">
                                    <label for="nickname">Nickname</label>
                                    <input id="nickname_s" type="text" class="btn-outline-warning form-control" name="nickname" placeholder="nickname" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password_s" type="password" class="btn-outline-warning form-control" name="password" placeholder="********" required data-eye>
                                </div>
                                <div class="form-group">
                                    <label for="password_r">Repeat password</label>
                                    <input id="password_rs" type="password" class="btn-outline-warning form-control" name="password_r" placeholder="********" required data-eye>
                                </div>
                                <p class="alert alert-danger" style="display:none;" id='inv_pass_s'>The passwords you entered do not match.</p>
                                <p class="alert alert-danger" style="display:none;" id='inv_nick_s'>The nickname that you enter is already in use. Please choose a different name.</p>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="aggree" value="1"> I agree to the Terms and Conditions
                                    </label>
                                </div>
                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-warning btn-block">
                                        Register
                                    </button>
                                </div>
                                <div class="margin-top20 text-center">
                                    Already have an account? <a id="show_login_form" class="text-warning">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <footer>
                        <!--Social buttons-->
                        <div class="text-center">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm btn-tw mx-1" href="#">
            <i class="icon-facebook-circled"> </i>
          </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm btn-gplus mx-1" href="#">
            <i class="icon-github-circled"> </i>
          </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm btn-li mx-1" href="#">
            <i class="icon-telegram"></i>
          </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Social buttons-->
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/login.js" defer></script>
</body>
</body>

</html>